{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
<div class="topnav">
  <a class="active" href="index.html">Home</a>
</div>
{% endblock %}
{% block body %}
<div class="jumbotron text-center">
  <h1>Punggol Map Travel Planner</h1>
  <h2>Your friendly travel planner.</h2>
</div>

<div class="container">
    <div class="row" id="bottombuffer">
        <div class="col-sm-offset-2 col-sm-8">
            <form action="/action_page.php">
                <div class="input-group">
                    <span id="overrideicon1" class="icon input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                    <input id="source" type="text" class="form-control" name="source" placeholder="Your Location">
                </div>
                <div>
                    <span><i class="glyphicon glyphicon-option-vertical"></i></span>
                </div>
                <div class="input-group">
                    <span id="overrideicon2" class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                    <input id="dest" type="text" class="form-control" name="dest" placeholder="Destination">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#">Public Transport</a></li>
            <li><a href="#">Walk</a></li>
          </ul>
          <div class="map">
              {% include "map.html" %}
          </div>
        </div>
    </div>
</div>
{% endblock %}