{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-3" id="sidebar">
            <form id="submit_form">
                <select class="form-control" name="transport_mode" id="">
                    <option value="all">All</option>
                    <option value="mrt">MRT</option>
                    <option value="bus">Bus</option>
                    <option value="walk">Walk</option>

                </select>

<!--                <label class="radio-inline"><input type="radio" name="bus" checked><span><i class="fas fa-bus"></i></span></label>-->
<!--                <button id="bus" class="btn btn-light"></button>-->
<!--                <button id="train" class="btn btn-light"><span><i class="fas fa-train"></i></span></button>-->
<!--                <button id="walk" class="btn btn-light"><span><i class="fas fa-walking"></i></span></button>-->
                <div class="input-group">
                    <span id="overrideicon1" class="icon input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                    <input id="source" type="text" class="form-control" name="source" placeholder="Your Location">
                </div>
                <div>
                    <span><i class="glyphicon glyphicon-option-vertical"></i></span>
                </div>
                <div class="input-group">
                    <span id="overrideicon2" class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                    <input id="dest" type="text" class="form-control" name="dest" placeholder="Destination">
                </div>
                <button id="submit" class="btn btn-outline-light">Submit</button>
            </form>
        </div>
        <div class="col-sm-9" id="map"></div>
        <script src="{{url_for('static', filename='leaflet.js')}}"></script>
        <script>
            plotMap({{train_path}}, {{walk_path}}, {{start}}, "{{start_road}}", {{end}}, "{{end_road}}");
        </script>
    </div>
</div>

<!--    <div id="errorModal" class="modal fade">-->
<!--        <div class="modal-dialog modal-dialog-centered">-->
<!--            &lt;!&ndash; Modal content&ndash;&gt;-->
<!--            <div class="modal-content">-->
<!--              <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                <h4 class="modal-title">Error</h4>-->
<!--              </div>-->
<!--              <div class="modal-body">-->
<!--                <p>Location could not be found. Please try again</p>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

{% endblock %}


