{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-3" id="sidebar">
            <form id="submit_form">
                <select class="form-control" name="transport_mode" onchange="showDiv('hidden_div', this)">
                    <option value="all">All</option>
                    <option value="mrt">MRT</option>
                    <option value="bus">Bus</option>
                    <option value="walk">Walk</option>
                </select>

                <div id="hidden_div">
                    <label class="radio-inline"><input type="radio" name="cost_option" value="sp" checked>Shortest Path</label>
                    <label class="radio-inline"><input type="radio" name="cost_option" value="lt">Least transfer</label>
                </div>

                <script>
                    function showDiv(divId, element){
                        document.getElementById(divId).style.display = element.value == "bus" ? 'block' : 'none';
                    }
                </script>

                <div class="input-group">
                    <span id="overrideicon1" class="icon input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                    <input id="source" type="text" class="form-control" name="source" placeholder="Your Location">
                </div>
                <div>
                    <span><i class="glyphicon glyphicon-option-vertical"></i></span>
                </div>
                <div class="input-group">
                    <span id="overrideicon2" class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                    <input id="dest" type="text" class="form-control" name="dest" placeholder="Destination">
                </div>
                <button id="submit" class="btn btn-outline-light">Submit</button>
            </form>
            <div id="bus_info"></div>
            <div id="bus_stop"></div>
        </div>
        <div class="col-sm-9" id="map"></div>
        <script src="{{url_for('static', filename='leaflet.js')}}"></script>
        <script>
            plotMap({{train_path}}, {{walk_path}}, {{bus_path}}, {{start}}, "{{start_road}}", {{end}}, "{{end_road}}");
        </script>
    </div>
</div>

{% endblock %}


